<li id="version-<%= h version.id -%>" class="version">
  <span><%= link_to_version(version) %></span>
  <span><%= h(version.description) %></span>
  <span class="due_date"><%= format_date(version.effective_date) %></span>
  <span>
    <%= progress_bar([version.closed_pourcent, version.completed_pourcent], :legend => ('%0.0f%' % version.completed_pourcent)) %>
  </span>
</li>
